<div>
  <h3>
    <button name="btBackToNodesList" class="btn btn-link text-black"><i class="fa fa-arrow-left"></i></button>
    <%- summary %>
    <div class="btn-group btn-group-lg" style="float: right">
      <button class="btn btn-default " name="btUpdateNode" data-toggle="tooltip" data-placement="top" title="Update Agent">
        <i class="fa fa-upload"></i>
      </button>
      <button class="btn btn-default " name="btResetNode" data-toggle="tooltip" data-placement="top" title="Reset Agent">
        <i class="fa fa-eraser text-danger"></i>
      </button>
    </div>
    <hr class="bg-gray" style="height: 1px"/>
  </h3>
</div>
<div class="">
  <div class="row">
    <div class="col-md-3">
      <%- info %>
    </div>
    <div class="col-md-3">
      <%- plannedState %>
    </div>
    <div class="col-md-3">
      <%- currentState %>
    </div>
    <div class="col-md-3">
      <%- commands %>
    </div>
  </div>
</div>