<div class="box-body">
  <div class="" style="margin: 0 0 36px 0;">
    <div class="input-group input-group-sm pull-left">
      <input type="text" name="nodesFilterBy" id="nodesFilterBy" class="form-control pull-left" placeholder="Filter" style="width: 48em;">
      <div class="input-group-btn pull-left">
        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
      </div>
    </div>
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
  <table class="table table-condensed">
    <tbody>
    <%
    const maxLastSeen = 1000*60*60*24;
    for (var index = 0; index < nodes.length; index++ ){
      var node = nodes[index];
      var problems = [];
      var lastSynced = Date.parse(node.lastSync);
      if (Date.now() - lastSynced > maxLastSeen) {
        problems.push("Last seen at " + node.lastSync.replace('T', ' ').replace('Z', ''));
      }

    %>
    <tr class="">
      <!--<% if (selectedIndex === -1) { selectedIndex = 0; } %>-->
      <!--<td style="width: 16px;"><input name="btSelectItemNodes" type="radio" <%= selectedIndex === index ? 'checked' : ''%>/></td>-->
      <td style="width: 16px; vertical-align: middle">
        <% if (problems.length > 0) { %>
        <a href="#" data-trigger="focus" data-container="body" data-html="true" data-toggle="popover" data-placement="top" title="Problems"
           data-template='
           <div class="popover" style="width: 512px;" role="tooltip">
              <div class="arrow"></div>
              <h3 class="popover-title bg-yellow"></h3>
              <div class="popover-content"></div>
            </div>
           '
           data-content="
              <% for (var p = 0; p < problems.length; p++) { %>
              <p><%= problems[p] %></p>
              <% } %>
           "
        >
          <i class="fa fa-warning text-yellow"></i>
        </a>
        <% } %>
      </td>
      <td><a role="button" href="#" name="btSelectItemNodes" data-index="<%= index %>" ><%= node.name %></a></td>
      <td>
        <%
          var meta = node.metadata || {};
          var keys = Object.keys(meta);
          for (var j = 0; j < keys.length; ++j) {
        %>
          <small class="label bg-orange"><%= keys[j] %>:<%= meta[keys[j]] %></small>
        <% } %>
        <%
          var tags = node.info.tags || {};
          var keys = Object.keys(tags);
        for (var j = 0; j < keys.length; ++j) {
        %>
        <small class="label bg-blue"><%= keys[j] %>:<%= tags[keys[j]] %></small>
        <% } %>
      </td>
      <td><%= node.id %></td>
      <td><%= node.info.platform %></td>
      <td><%= node.info.agentVersion %></td>
      <td style="vertical-align: middle;" >
        <div class="input-group-btn pull-left">
          <button class="btn btn-sm btn-default " data-index="<%= index %>" name="btRemoveNode" data-toggle="tooltip" data-placement="top" title="Remove">
            <i class="fa fa-remove"></i>
          </button>
        </div>
      </td>
    </tr>
    <% } %>
    </tbody>
  </table>
</div>