<div class="box-header">
  <h3 class="box-title"><%= title %> State</h3>
  <% if (editable) { %>
    <div class="box-tools pull-right">
      <button class="btn btn-default" id="btnAddModuleToState" title="Add Module" data-toggle="tooltip"><i class="fa fa-plus"></i></button>
    </div>
  <% } %>
</div>
<div class="box-body">
  <% if (states.length === 0) { %>
  <h5 class="text-uppercase text-gray">No Entries</h5>
  <% } else { %>
  <%
    for (var i = 0; i < states.length; ++i) {
      var state = states[i];
  %>
  <div class="info-box" style="position: relative" name="StateOfModuleInfoBox" data-index="<%= i %>">
    <span class="info-box-icon bg-blue">
      <div style="line-height: 20px;padding-top: 25px">
        <span class="info-box-text"><b><%= state.name %></b></span>
        <span class="info-box-text"><%= state.version %></span>
      </div>
    </span>
    <div class="info-box-content">
      <span class="info-box-text">
        <% if (state.state.start && state.state.start.data && state.state.start.data.started) { %>
        <span class="text-green"><i class="fa fa-play"></i> Started</span>
        <% } else { %>
        <span class="text-red"> <i class="fa fa-stop"></i> Stopped</span>
        <% } %>
      </span>
      <div class="btn-group btn-group-sm" style="position: absolute; bottom: 4px;" data-index="<%= i %>">
        <% if (editable) { %>
        <button type="button" class="btn btn-default" data-index="<%= i %>" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></button>
        <button type="button" name="btnRemoveModuleFromState" data-index="<%= i %>" class="btn btn-default" data-toggle="tooltip" title="Remove"><i class="fa fa-remove"></i></button>
        <% } else { %>
        <button type="button" class="btn btn-default" data-index="<%= i %>" data-toggle="tooltip" title="Details"><i class="fa fa-eye"></i></button>
        <% } %>
      </div>
    </div>
  </div>
  <% } } %>
</div>

