<div class="box-header no-padding" xmlns="http://www.w3.org/1999/html">
  <h3>
    <button name="btBackToNodesList" class="btn btn-default pull-left" style="margin-right: 8px"><i class="fa fa-arrow-left"></i></button>
    <%- summary %>
    <div class="input-group-btn">
      <button class="btn btn-sm btn-default " name="btUpdateNode" data-toggle="tooltip" data-placement="top" title="Update">
        <i class="fa fa-arrow-circle-o-up"></i>
      </button>
      <button class="btn btn-sm btn-default " name="btResetNode" data-toggle="tooltip" data-placement="top" title="Reset">
        <i class="fa fa-step-backward"></i>
      </button>
    </div>
  </h3>
</div>
<div class="box-body no-padding">
  <div class="row">
    <div class="col-md-3">
      <%- plannedState %>
    </div>
    <div class="col-md-3">
      <%- currentState %>
    </div>
    <div class="col-md-4">
      <%- commands %>
    </div>
  </div>
</div>
<%- configureModuleDialog %>
<%- commandDetailsDialog %>
<%- updateAgentVersionDialog %>
<%- confirmDialog %>
