<div>
  <h3>
    <button name="btBackToNodesList" class="btn btn-link text-black"><i class="fa fa-long-arrow-left fa-lg"></i></button>
    <%- summary %>
    <hr class="bg-gray" style="height: 1px"/>
  </h3>
</div>
<div class="">
  <div class="row">
    <div class="col-md-3">
      <%- info %>
    </div>
    <div class="col-md-3">
      <%- plannedState %>
    </div>
    <div class="col-md-3">
      <%- currentState %>
    </div>
    <div class="col-md-3">
      <%- commands %>
    </div>
  </div>
</div>