<div class="box-header bg-blue">
  <h3 class="box-title">Commands</h3>
</div>
<div class="box-body bg-gray-light">
  <ul class="timeline">
    <%

    for (var index = 0; index < commands.length; index++) {
      var command = commands[index];
      var time = new Date(Date.parse(command.created));
    %>

      <% if (index === 0) { %>
      <li class="time-label">
        <span class="bg-light-blue text-uppercase">Latest</span>
      </li>
      <% } else if (index === 1) { %>
      <li class="time-label">
        <span class="bg-light-blue text-uppercase">Previous</span>
      </li>
      <% } %>

      <li>
        <%- commandStatus[index] %>
        <div class="timeline-item">
          <span class="time">
            <i class="fa fa-clock-o"></i> <%= time.getUTCDate() %>.<%= (time.getUTCMonth() + 1) %>.<%= time.getUTCFullYear() %>, <%= time.getUTCHours() %>:<%= time.getUTCMinutes() %>
          </span>
          <h4 class="timeline-header">
            <a href="#" name="nodeCommandDetails" data-index="<%= index %>" class="text-capitalize"><%= command.type %> <%= command.action %></a>
          </h4>
          <% if (command.status === 'pending') { %>
          <div class="timeline-body">
          <button class="btn btn-xs btn-default btn-flat" name="btnCancelPendingCommand" data-toggle="tooltip" title="Cancel"><i class="fa fa-remove"></i> Cancel</button>
          </div>
          <% } %>
        </div>
      </li>
    <% } %>

    <% if (commands.length === 0) { %>
    <li class="time-label">
      <span class="bg-light-blue text-uppercase">No Commands</span>
    </li>
    <% } %>

    <li>
      <i class="fa fa-circle"></i>
    </li>
  </ul>

</div>

