<% if (used && total) { %>

<div class="progress-group">
    <span class="progress-text"><%= title %></span>
    <span class="progress-number"><b>
        <%= used %></b>/<%= total %> <%= type || 'B'%>
    </span>
    <div class="progress sm">
        <div style="width: <%= usedPercent || 0 %>%" class="progress-bar progress-bar-aqua"></div>
    </div>
</div>

<% } else { %>
<div class="progress-group">
    <span class="progress-text"><%= title %></span>
    <span class="progress-number">N/A</span>
</div>
<% } %>
