<td>
    <%
    var meta = node.metadata || {};
    var keys = Object.keys(meta);
    for (var j = 0; j < keys.length; ++j) {
    %>
    <span class="metadata label bg-orange" style="line-height: 24px; margin-left: 3px">
        <%= keys[j] %>:<%= meta[keys[j]] %>
        <span class="badge remove" data-id="<%= node.id %>"><i class="fa fa-remove"></i></span>
    </span>
    <% } %>

    <%
    var tags = node.info.tags || {};
    keys = Object.keys(tags);
    for (var j = 0; j < keys.length; ++j) {
    %>
    <span class="label bg-blue"  style="line-height: 24px;"><%= keys[j] %>:<%= tags[keys[j]] %></span>
    <% } %>

</td>