<td>
    <%
    var meta = node.metadata || {};
    var keys = Object.keys(meta);
    for (var j = 0; j < keys.length; ++j) {
    %>
    <span class="metadata label bg-orange" style="line-height: 24px; margin-left: 3px;">
        <%= keys[j] %>:<%= meta[keys[j]] %>
        <span class="badge remove" data-id="<%= node.id %>"><i class="fa fa-remove"></i></span>
    </span>
    <% } %>

    <%
    var tags = Object.keys(node.info.tags || {}).map(function(k) {
        return { key: k, val: node.info.tags[k] };
    }).concat(node.state.current.map(function(s) {
       return { key: s.name, val: s.version };
    }));

    for (var j = 0; j < tags.length; ++j) {
    %>
    <span class="label bg-blue"  style="line-height: 24px; margin-left: 3px;"><%= tags[j]['key'] %>:<%= tags[j]['val'] %></span>
    <% } %>

</td>