<div class="skin-blue sidebar-mini">
  <div class="wrapper">
    <%- navigation %>
    <%- sidebar %>
    <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="content-header">
              <h1 id="header-name">
              </h1>
            </div>
            <div class="content body">
            <% for(var index = 0; index < content.length; index++){ %>
            <section data-index="<%= index %>">
              <%- content[index] %>
            </section>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <%- footer %>
  </div>
</div>